$color:  (
  black: #000000,
  white: #ffffff,
  white-1: #f1f1f1,
  white-2: #f4f4ef,
  gray-1: #c8c7c2,
  gray-2: #f7f6f2,
  gray-3: #5b5b5b,
  gray-4: #c7c6c2,
  gray-5: #fcfcfc,
  gray-6: #d0d0d0,
  gray-7: #666666,
  gray-8: #ccc9c2,
  orange: #d25f31,
  camp: #855a46,
  green: #79bea2,
);
